@charset "utf-8";
/*index1.3*/
.yp-container{ width:100%; background:#f4f4f4; min-width:1024px;}
.yp-banner{ width:100%; text-align:center;}
.yp-banner .fixde-wck{ position:absolute; padding:10px 10px 5px; background:rgba(255,255,255,0.6); left:60%; bottom:0;}
.yp-container .nav{ height:100px; background:url(../images/head-bar.jpg) repeat-x; margin-bottom:0; border-radius:0;}
.yp-banner .fixde-wck p{ font-size:16px; color:#030303; margin:5px 0 0;}
.yp-container .nav-w1000{ width:1000px; margin:0 auto; overflow:hidden;}
.yp-container .nav .new-logo{ width:104px; height:100px; float:left;}
.yp-container .nav .pre-ya{ float:right; font-weight:normal; margin-top:30px;}
.yp-container .nav .pre-ya span{ font-size:22px; color:#FFF; margin-left:15px;}
.yp-container .nav .pre-ya em{ width:31px; height:30px; display:inline-block; background:url(../images/new-icon.png) no-repeat; vertical-align:middle;}
.yp-container .nav .pre-ya a{ color:#fff; margin:0 5px; display:inline-block; vertical-align:middle;}
.yp-container .nav .pre-ya em.u01{ background-position:-34px 0;}
.yp-container .nav .pre-ya em.u02{ background-position:-70px 0; width:45px;}
.index_block_img{ overflow:hidden; margin-top:20px; padding:0 20px;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;box-sizing: border-box;}
.index_block_img .item{ padding:0 10px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.new-feature{ margin-top:25px; overflow:hidden;}
.new-feature h3{ font-size:20px; color:#6e6e6e; text-align:center; width:100%; margin-bottom:8px;}
.new-feature h3 span{ margin:0 auto; background:url(../images/love.png) left center no-repeat; padding-left:40px;}
.new-feature h5{ color:#6e6e6e; font-size:16px; text-align:center; margin:0 30px; border-bottom:1px solid #d2d2d2; height:15px;}
.new-feature h5 span{ background:#f4f4f4; font-weight:normal;}
.new-feature .feat-box{ width:1000px; overflow:hidden; margin:30px auto 0;}
.new-feature .feat-ul{width:1025px;}
.new-feature .feat-ul li{ width:320px; height:232px; padding:20px; color:#6e6e6e; float:left; background:#fff; border:1px solid #d2d2d2; margin-right:20px;}
.new-feature .feat-ul li span{ width:85px; height:85px; display:block; overflow:hidden; background:url(../images/there-icon.png) no-repeat; margin:0 auto;}
.new-feature .feat-ul li span.jx{background-position:-176px 0;}
.new-feature .feat-ul li span.xl{background-position:-89px 0;}
.new-feature .feat-ul li .t{ font-size:18px; font-weight:bold; text-align:center; margin:8px 0 5px;}
.new-feature .feat-ul li p{ font-size:16px; line-height:24px;}
.new-footer{ width:100%; background:#e7e7e7; margin-top:30px;}
.new-footer .footer{ width:1000px; margin:0 auto; overflow:hidden; padding:20px 0;}
.new-footer .footer .item{ width:250px; height:150px; float:left; border-right:1px solid #aaa; text-align:center;}
.new-footer .footer .item.last{border-right:0; color:#6e6e6e;}
.new-footer .footer .t{ color:#6e6e6e; border-bottom:1px dashed #6e6e6e; font-size:16px; font-weight:bold; text-align:center; padding:15px 0 10px; margin:0 auto 15px;width:205px; display:block;}
.new-footer .footer .t.h{ width:105px;}
.new-footer .footer a{ text-align:center; display:block; width:100%; color:#000; line-height:22px; font-size:14px; font-family:"瀹嬩綋";}
.new-footer .footer a.apply{ width:205px; height:63px; display:block; color:#FFF; text-align:center; line-height:63px; background:#fa5a32; font-size:18px; font-weight:bold; margin:15px auto 0;font-family:"Microsoft YaHei","寰蒋闆呴粦";}
.filing{ height:70px; width:100%; text-align:center; line-height:70px; background:#8d8d8d; font-size:14px; color:#FFF;}
.new-footer .footer p{ font-size:14px;font-family:"瀹嬩綋"; margin-top:5px;}
.filing a{ color:#fff;}
/*注册成功*/
.tip_box{ margin:20px 0 480px 218px; overflow:hidden; padding-top:100px;}
.tip_box i{ width:111px; float:left; height:90px; background-position:0 -103px; margin-top:10px;}
.tip_box .tip{ float:left; font-size:30px; color:#333; margin-left:42px;}
.tip_box .tip p{ margin-bottom:10px; vertical-align:top;}
.tip_box .tip a{ width:120px; height:40px; display:inline-block; text-align:center; line-height:40px; border-radius:20px; color:#333; font-size:14px; clear:both;}
.tip_box .tip a.per_btn{ border:1px solid #333;}
.tip_box .tip a.per_btn:hover{background:#E95431;border:1px solid #E95431; color:#FFF;}
.tip_box .tip a.appr_btn{ background:#E95431; color:#FFF; margin-left:20px;}
.tip_box .tip a.appr_btn:hover{ color:#333; border:1px solid #333; background:#FFF;}
/*认证与开通*/
.appr{ font-size:14px; color:#666; min-height:670px;}
.appr .title{ font-size:24px; color:#333; height:85px; border-bottom:1px solid #ddd; text-align:center; line-height:85px;}
.appr .appr_list{}
.appr .appr_list .t{ text-align:center; margin:20px 0;}
.appr .appr_list .text-exp{ margin-left:125px; font-size:12px; line-height:24px; margin-bottom:25px;}
.appr .appr_list .t em{ font-size:20px; color:#E95231;font-style:italic; margin-right:3px;}
.appr .appr_list .form_box{ margin-left:125px;}
.appr dl{margin-bottom:15px; clear:both;}
.appr dl dt{ width:170px; float:left; font-size:14px; color:#333; height:40px; line-height:40px;}
.appr dl dd{ margin-left:170px;}
.appr dl .brief_put,.appr dl .long_put,.appr dl .file_box,.appr dl .smal_put{ width:148px; height:18px; padding:10px 0; line-height:18px; background:#f8f8f8; border:1px solid #ddd; text-indent:10px;margin-right:15px; color:#999;}
.appr dl .brief_put:focus,.appr dl .long_put:focus,.appr dl .text:focus{ background:#FFF; color:#333;}
.appr dl .add_put{ color:#333; margin-top:15px;}
.appr dl .file_box{ width:478px; position:relative; display:inline-block;}
.appr dl .file_box.set_file{ width:315px; float:left;}
.appr dl .file_box span,.appr dl .set_file span{ color:#333; margin-right:10px;}
.appr dl .tips{color:#E95231; line-height:40px; display:inline-block;}
.appr dl .tips a{color:#E95231; text-decoration:underline;}
.appr dl .long_put{ width:478px;}
.appr dl .smal_put{ width:310px;}
.appr dl .text{ width:458px; height:150px; border:1px solid #ddd; background:#f8f8f8; padding:0 10px; line-height:24px; color:#999;}
.appr dl dd .head-pic{ width:130px; height:130px; border:1px solid #ddd; background:#f8f8f8; float:left;background:url(../images/morepic.png) center center no-repeat; padding:10px;}
.appr dl dd .head-pic img{ width:130px; height:130px; display:block;}
.appr dl dd .head-file{ width:80px; height:40px; background:#E95431; font-size:14px; color:#FFF; text-align:center; line-height:40px; display:inline-block; margin-left:15px; float:left;}
.appr dl dd .shili{ display:block; margin:0 0 0 15px; padding-top:25px; clear:both; color:#999;}
.appr dl dd .select-box{ float:left; margin-right:15px;}
.appr dl dd .select-box .s-val{height:40px;text-indent:10px;line-height:40px;color:#9c9c9c;font-weight:normal;cursor:pointer;border:1px solid #ddd;background: #f8f8f8 url(../images/select.png) 450px center no-repeat; width:478px;}
.appr dl dd .select-box .s-box{display:none;position:relative;}
.appr dl dd .select-box .s-box ul{ position:absolute; left:0; top:0;border:1px solid #ddd; background:#FFF; width:478px;  border-top:none; }
.appr dl dd .select-box .s-box li{text-indent:10px;height:30px; line-height:30px; color:#9c9c9c; cursor:pointer;}
.appr dl dd .select-box .s-box li a{color:#9c9c9c;display:block;}
.appr dl dd .select-box .s-box li a:hover,.appr dl dd .select-box .s-box li:hover{ color:#FFF; background:#E95431;}
.appr .btn{ margin:30px 0 0 170px; clear:both; overflow:hidden;}
.appr .btn input{height:40px; text-align:center; line-height:40px; border:1px solid #E95231; display:inline-block;font-size:14px; cursor:pointer; padding:0 25px;}
.appr .btn .save,.appr .btn .dredge:hover{color:#E95231; background:#FFF;}
.appr .btn .dredge,.appr .btn .save:hover{background:#E95231; color:#FFF;}
.appr dl dd .short-select-box .s-val{ width:315px; background: #f8f8f8 url(../images/select.png) 290px center no-repeat; overflow:hidden;}
.appr dl dd .short-select-box .s-box ul{ width:315px;}
.appr dl dd .select-box .s-box li .three{ position:absolute; right:-200px; top:0; width:200px; display:none;}
.appr dl dd .select-box .s-box li .three ul{ border-top:1px solid #ddd;}
.appr dl dd .select-box .s-box li .three ul li{ float:left; padding:0 10px;}

/*服务列表页*/
.sever-h2{ width:918px; min-height:297px; margin:25px 0 5px; border:1px solid #eee; padding:20px; background:#FFF;}
.sever-h2 dl{}
.sever-h2 dt{ width:270px; height:270px; overflow:hidden; float:left;}
.sever-h2 dt img{ width:270px; display:block;}
.sever-h2 dd{ margin-left:285px;}
.sever-h2 dd h2{ font-size:18px; color:#E95331; font-weight:normal; margin-bottom:5px;}
.sever-h2 dd .clj{ width:100%; height:auto; overflow:hidden; font-size:14px; color:#666; line-height:24px; margin-bottom:30px;}
.sever-h2 dd .for{ font-size:14px; color:#666; font-size:14px; margin-top:5px;}
.sever-h2 dd .for span{ color:#E95331;}
.sever_box{overflow:hidden;}
.sever_box .sever-title{ height:40px; line-height:40px; border-bottom:1px solid #ddd; font-size:14px;}
.sever_box .sever-title .title{ font-size:18px; color:#E95231; border-bottom:3px solid #E95231; height:38px; display:inline-block;}
.sever_box .sever-title .sub{ margin-left:20px; color:#999;}
.sever_box .sever-title .sub em{ color:#E95331; margin:0 3px;}
.sever_box .sever-title .ljb{ float:right;}
.sever_box .sever-title .ljb em{color:#E95331; margin:0 3px; font-size:18px;}
.sever_box ul{ width:980px; margin-top:15px;}
.sever_box ul li{ width:308px; height:403px; border:1px solid #eee; background:#FFF; float:left; margin:0 15px 15px 0;}
.sever_box ul li a.pic{display:block; width:310px; height:310px; overflow:hidden;}
.sever_box ul li a.pic img{ width:310px; display:block;}
.sever_box ul li .t{ padding:0 15px; overflow:hidden; line-height:36px; margin:10px 0 4px 0;}
.sever_box ul li .t a{ font-size:14px; color:#333; float:left;}
.sever_box ul li .t a:hover{color:#E95331;}
.sever_box ul li .t span{ font-size:24px; color:#E95331; float:right;}
.sever_box ul li .o{ overflow:hidden; margin:0 15px;} 
/*筛选*/
.filtr{}
.filtr .result{ color:#333;height:26px; line-height:26px; margin:25px 0 12px;}
.filtr .result span{ height:24px; border:1px solid #ddd; padding:0 5px; background:#f8f8f8; display:block; float:left; line-height:24px; margin-left:10px; cursor:pointer;}
.filtr .result span a{ width:7px; height:7px; display:inline-block;background:url(../images/icon.png) -490px 0 no-repeat; margin-left:5px;}
.filtr .result span:hover{ border:1px solid #E95231;}
.filtr .result span:hover a{ background-position:-431px 0;}
.filtr .cond{ border:1px solid #ddd;}
.filtr .cond dl{ height:40px; line-height:40px; border-bottom:1px dashed #ddd;}
.filtr .cond dl.last{ border-bottom:none;}
.filtr .cond dt{ float:left; width:75px; color:#999; text-align:right;}
.filtr .cond dd{ margin-left:75px;}
.filtr .cond dd a{ margin-left:40px; display:inline-block; float:left; color:#333;}
.filtr .cond dd a:hover,.filtr .cond dd a.selected{ color:#E95231;}
/*订单*/
.reap_box{ margin:35px 0; width:960px;}
.reap_box h4{ clear:both; font-size:14px; color:#333; margin-bottom:15px;}
.reap_box h4 span{ color:#E95231; font-size:12px; font-weight:normal; margin-left:20px;}
.reap_box .dropdown h4{ margin-bottom:0;}
.reap_box .site-select{ float:left; margin:0 15px 15px 0;}
.reap_box .site-select .site-val{ width:150px; height:30px; border:1px solid #ddd; background:#f8f8f8 url(../images/select.png) 125px center no-repeat; color:#999; line-height:30px; text-indent:10px; cursor:pointer;}
.reap_box .site-select .site-box{position:relative; display:none;}
.reap_box .site-select .site-box ul{border:1px solid #ddd; background:#FFF; width:150px; border-top:none; position:absolute;left:0; top:0; z-index:2;}
.reap_box .site-select .site-box li a{text-indent:10px;height:25px; line-height:25px; display:block; color:#9c9c9c;}
.reap_box .site-select .site-box li a:hover{color:#FFF; background:#E95431;}
.reap_box .site-put{ width:480px; height:38px; background:#f8f8f8; border:1px solid #ddd; text-indent:10px; color:#999;}
.reap_box .site-small-put{ width:150px; margin-right:15px;}
.affirm{ margin-bottom:40px;}
.affirm h4{font-size:14px; color:#333;}
.affirm .t{ overflow:hidden;}
.affirm .t li{ height:50px; border-bottom:3px solid #E95431; margin-right:5px; float:left; text-align:center; line-height:50px;}
.affirm li.n1{ width:80px;}
.affirm li.n2{ width:210px;}
.affirm li.n3{ width:140px;}
.affirm li.n4{ width:80px;}
.affirm li.n6{ width:220px;}
.affirm li.n7{ width:100px;}
.affirm .list{ overflow:hidden;}
.affirm .list ul{ border-bottom:1px solid #E95431; overflow:hidden;}
.affirm .list li{float:left; margin-right:5px; text-align:center; padding:15px 0;}
.affirm li.last{ margin-right:0px; width:100px;}
.affirm .list li.time{ color:#E95231; font-weight:bold;}
.affirm .list .notes{ background:#FDEFEC; height:80px; color:#999; padding:10px 0 0 20px; width:940px;}
.affirm .list .notes .bc{ width:350px; height:50px; border:1px solid #ddd; background:#FFF; line-height:14px; text-indent:10px; padding:5px 0;}
.affirm .list .notes .bc:focus{ color:#333;}
.affirm .list .service{ color:#333; margin-top:5px;}
.affirm .list .service em{color:#E95231; font-size:14px;}
.affirm .really{ margin:40px 0 15px 0; color:#999; font-size:14px; overflow:hidden;}
.affirm .really .yhq{ color:#333; float:left; margin-left:440px;}
.affirm .really .yhq .yhq-select{ width:130px; height:30px; border:1px solid #ddd; background:#f8f8f8;}
.affirm .really span{ color:#E95231;}
.affirm .really span em{ font-size:28px;}
.affirm .btn{ overflow:hidden;}
.affirm .btn .aff_btn{ float:right; width:200px; height:45px; display:inline-block; background:#E95431; font-size:18px; text-align:center; line-height:45px; color:#FFF; cursor:pointer;}
/*详情*/
.yp_pro{ overflow:hidden; margin:35px 0 30px;}
.yp_pro .yp_gall{ float:left; width:450px;}
.yp_pro .yp_gall .gall_img{ width:450px; height:450px; display:block; margin-bottom:20px; position:relative; z-index:1;}
.yp_pro .yp_gall .gall_img a{display: table-cell;text-align: center;vertical-align: middle;width:450px; height:450px;}
.yp_pro .yp_gall .gall_img a img{ vertical-align:middle; max-width:450px; max-height:450px;}
.yp_pro .yp_gall ul{ margin-left:25px;}
.yp_pro .yp_gall ul li{border:1px solid #ddd; width:60px; height:60px; padding:4px; float:left; margin:0 5px;}
.yp_pro .yp_gall ul li.selected{ border:1px solid #F00;}
.yp_pro .yp_gall ul li img{ width:60px; display:block;}
.zoomDiv {z-index:999;position: absolute;top:0px;left:0px;width:400px;height:400px;background: #ffffff;
border:1px solid #CCCCCC;display:none;text-align: center;overflow: hidden;}
.zoomMask {position:absolute;background:url("../images/mask.png") repeat scroll 0 0 transparent;cursor:move;z-index:1;}
.yp_deta{ width:490px; float:right;}
.brief{ overflow:hidden;}
.organ{ overflow:hidden; margin-bottom:10px;}
.organ dl{overflow:hidden;}
.organ dl dt{ float:left; width:60px;height:60px;overflow:hidden;}
.organ dl dt img{ display:block; width:60px; margin-bottom:8px;}
.organ dl .star{ width:60px; height:10px; background:url(../images/star.png) no-repeat;}
.organ dl dd{ margin-left:73px; position:relative; z-index:1;}
.organ dl dd .t{ font-size:18px; font-weight:bold; margin-bottom:5px; color:#E95431; overflow:hidden;}
.organ dl dd .coll_btn{ width:90px; height:34px; display:inline-block; text-align:center; line-height:34px; font-size:14px; color:#FFF; background:#E95431; position:absolute; top:0; right:0; z-index:1;}
.organ dl dd .map{ font-size:14px; color:#999;}
.organ dl dd .map i{width: 13px;height: 17px;background: url(../images/icon.png) -476px 0 no-repeat;display: inline-block;vertical-align: middle; margin-right:3px;}
.organ .signa{color:#999; clear:both; margin-top:4px;}
.organ .signa span{ color:#333;}
.yp_deta .cost{ width:100%; height:70px; padding-top:10px; background:rgba(233,84,49,0.1);filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#BE95431', endColorstr='#BE95431'); color:#E95431; font-size:14px; margin:15px 0 20px;}
.yp_deta .cost h2{ font-size:18px; color:#333; margin-left:15px;}
.yp_deta .cost span{ color:#333; margin:0 10px;}
.yp_deta .cost em{ font-size:28px; font-weight:bold;}
.deta_tags{ overflow:hidden; }
.deta_tags span{ height:24px; border:1px dotted #999; padding:0 10px; display:inline-block; text-align:center; line-height:24px; color:#666; margin:0 5px 10px 0;}
.deta_tags span:hover{ color:#E95431; border:1px dotted #E95431;}
.yp_deta .yp-ind-pane{ border-bottom:1px dashed #ddd; padding-bottom:15px;overflow:hidden;}
.yp_deta .yp-ind-pane li{ float:left; width:49%; border-right:1px solid #ddd; text-align:center; font-size:14px; color:#999;}
.yp_deta .yp-ind-pane li.last{ border-right:none;}
.yp_deta .yp-ind-pane .yp-count{color:#E95431; font-size:18px; font-weight:bold;}
.shoot-time{overflow:hidden; margin-top:25px; font-size:14px; border-bottom:1px dashed #ddd; padding-bottom:10px;}
.shoot-time dl{margin-bottom:17px; overflow:hidden;}
.shoot-time dt{line-height:40px; float:left; color:#999;}
.shoot-time dd{float:left;margin-left:20px;}
.shoot-time dd .time-k{ height:18px; line-height:18px; width:190px;  border:1px solid #ddd; padding:10px 0 10px 10px; background:url(../images/time.png) 170px center no-repeat;}
.shoot-time dd a{ width:72px; height:34px; border:1px solid #ddd; background:#f8f8f8; display:inline-block; line-height:34px; text-align:center; color:#333; margin-right:10px;}
.shoot-time dd a:hover{ color:#E95431;}
.shoot-time dd a.selected{ color:#E95431; background:url(../images/shoot.png) right bottom no-repeat; border:1px solid #E95431;}
.yp_deta .shop_btn{ width:200px; height:45px; background:#E95431; display:block; text-align:center; line-height:45px; font-size:18px; color:#FFF; margin:25px auto 0;}
.deta_wrap{ overflow:hidden; position:relative;}
.deta_wrap .main-wrap{ width:100%;}
.deta_wrap .main-wrap .YpBarBox{ position:relative; width:100%; z-index:2;}
.deta_wrap .main-wrap .Yp-Bar{ height:48px;float:left; z-index:9;}
.deta_wrap .main-wrap .Yp-Bar li{ float:left;border-top:1px solid #ddd; line-height:48px; font-size:14px; color:#333; width:186px; text-align:center; cursor:pointer; border-bottom:1px solid #E95431; border-left:1px solid #ddd; background:#FFF;}
.deta_wrap .main-wrap .Yp-Bar li.selected{ border-top:2px solid #E95431; font-weight:bold; border-right:1px solid #E95431;border-left:1px solid #E95431; background:url(../images/deta_cur.png) top center no-repeat; border-bottom:0;background:#FFF; height:47px;}
.deta_wrap .main-wrap .Yp-Bar li.last{border-right:1px solid #E95431; width:197px;}
.deta_wrap .slide{ width:200px;background:#f8f8f8; height:230px; float:right; position:absolute; right:0; top:0;}
.deta_wrap .slide .t{ display:none;}
.deta_wrap .slide .t a{ width:200px; height:50px; text-align:center; display:inline-block; line-height:50px; color:#FFF; font-size:18px; background:#E95431;}
.deta_wrap .slide ul{ margin:40px 0 0 55px;}
.deta_wrap .slide ul li{ height:16px; line-height:16px; margin-bottom:25px;}
.deta_wrap .slide ul li a{ color:#999;}
.deta_wrap .slide ul li a i{ margin-right:5px; width:16px; height:14px;background-position:-140px -67px;}
.deta_wrap .slide ul li.selected a i{ background-position:-165px -66px;}
.deta_wrap .main-wrap .serve_box{ border:1px solid #E95431; width:718px; padding:20px; border-top:none;}
.deta_wrap .main-wrap .serve_box h4{ font-size:14px; color:#333; margin-bottom:5px;}
.deta_wrap .main-wrap .serve_box p{ color:#666; text-indent:3em; line-height:22px;}
.deta_wrap .main-wrap .prod-img{ width:780px; overflow:hidden; padding-top:20px;}
.deta_wrap .main-wrap .prod-img img{ display:block; width:760px; text-align:left; margin-bottom:20px;}
.deta_wrap .brief{padding-top:20px; overflow:hidden; width:760px;}
.deta_wrap .brief .bri-in{padding:15px; background:#f8f8f8; width:748px;  border:1px dashed #ddd;}
.deta_wrap .main-wrap .brief .sig_list p{ line-height:22px; text-indent:3em; color:#666;}
.deta_wrap .main-wrap .evalu{ padding-top:20px; width:760px; overflow:hidden;}
.deta_wrap .main-wrap .evalu .t{ width:778px; height:38px; background:#f5f5f5; border:1px solid #ddd; line-height:38px; font-size:14px; color:#666; text-indent:15px;}
.deta_wrap .main-wrap .evalu dl{ border-bottom:1px dashed #ddd; overflow:hidden; padding:20px 0;}
.deta_wrap .main-wrap .evalu dt{ width:580px; float:left; color:#666;}
.deta_wrap .main-wrap .evalu dd{ float:right;}
.deta_wrap .main-wrap .evalu dd .name{ color:#E95231;}
.deta_wrap .main-wrap .evalu .page{ margin-top:25px;}
/*注册登录----------------------------------新版上线后删除*/
.regst{ color:#333; margin-top:35px; overflow:hidden;}
.regst .left{ width:635px; float:left;}
.regst dl{}
.regst dl dt{ height:40px; line-height:40px; width:140px; float:left;}
.regst dl dd{ margin-left:140px;}
.appr dl dd a.login{ color:#E95431; text-decoration:underline;}
.regst dl dd .send{ width:90px; height:40px; background:#E95431; text-align:center; line-height:40px; color:#FFF; display:inline-block; position:absolute; left:222px; top:0; cursor:pointer;}
.regst dl dd .streng{ width:75px; height:5px; background:url(../images/streng.png) no-repeat; display:inline-block;}
.regst dl dd .streng.n1{ background-position: 0 0;}
.regst dl dd .streng.n2{ background-position: 0 -5px;}
.regst dl dd .streng.n3{ background-position: 0 -10px;}
.regst .regst-btn{ display:block; width:180px; height:40px; text-align:center; line-height:40px; background:#E95431; color:#FFF; margin:25px 0 0 140px; font-size:14px; cursor:pointer;border-radius: 4px;}
.regst .social,.login-box .social{ width:430px; float:left; overflow:hidden;margin-top:15px;}
.regst .social .btn,.login-box .social .btn{ float:left;color:#333; margin-left:140px;}
.regst .right{ width:248px; float:left; height:247px; text-align:center; border-left:1px dashed #ddd; padding-left:75px;}
.regst .coup-list{ margin-top:25px;}
.regst .coup-list ul li{ width:250px; height:130px; padding-top:20px; display:inline-block; float:left; background:url(../images/yhq-bg.png) no-repeat; text-align:center;}
.regst .coup-list ul li .je{ font-size:32px; color:#FFF; font-weight:bold;}
.regst .coup-list ul li .je em{ font-size:62px;}
.regst .coup-list ul li .yhq{ width:88px; height:63px; display:inline-block; background:url(../images/icon.png) -126px -100px no-repeat; margin-left:5px;}
.regst .coup-list ul li .time{ font-size:12px; color:#FFF; text-align:center; font-weight:bold;}
/*注册登录end*/
/*新版登录注册*/
.user_reg{ width:996px; height:535px; background:#FFF; border:1px solid #e9e9e9; margin:60px auto; border-radius:3px;}
.user_reg .user_reg_n{ width:335px; margin:0 auto;}
.user_reg .user_reg_n h5{font-size:20px;font-weight: normal;text-align: center;color: #222;border-top: 1px solid #ccc;line-height:0; margin-bottom:25px; margin-top:95px;}
.user_reg .user_reg_n h4{ font-size:20px; color:#666;font-weight: normal;text-align: center; margin-bottom:10px; margin-top:40px;}
.user_reg .user_reg_n h5 span{padding: 0 10px;background:#fff; color:#666;}
.user_reg .user_form{}
.user_reg .user_form .form_put{ width:333px; height:43px; line-height:43px; border:1px solid #d6d6d6; border-radius:3px; margin-top:15px; text-indent:10px; font-size:16px; color:#999;}
.user_reg .user_form .cz{ font-size:14px; color:#666; overflow:hidden; margin-top:10px;}
.user_reg .user_form .cz a{ color:#666;}
.user_reg .user_form .cz a:hover{ text-decoration:underline;}
.user_reg .user_form .form_btn{ width:335px; height:45px; background:#ff7b5b; color:#FFF; font-size:16px; border:0; border-radius:3px; cursor:pointer; margin-top:25px;}
.user_reg .user_reg_n p{ font-size:15px; color:#666; text-align:center; margin-top:10px;}
.user_reg .user_reg_n p a{ color:#ff7b5b; text-decoration:underline;}
.user_reg .user_reg_n .yzm{ position:relative;}
.user_reg .user_reg_n .yzm a{ background:#f9f9f9; display:inline-block; width:118px; color:#666; font-size:16px; height:43px;border:1px solid #d6d6d6; position:absolute; right:0; bottom:0; line-height:43px; text-align:center;}
.user_reg .photoaman{ float:left; margin:125px 0 0 90px; border-right:1px solid #eaeaea; padding-right:70px;}
.user_reg .photoaman h4{ margin-top:5px;}
.user_reg .tempt_box{ width:353px; background:#fbfbfb; float:left; margin:145px 0 0 70px; border:1px solid #e2e2e2; border-radius:3px; text-align:center; padding-bottom:27px;}
.user_reg .tempt_box h3{ font-size:20px; color:#666; font-weight:normal; text-align:center; margin:25px 0 10px;}
.user_reg .tempt_box p{ font-size:16px; color:#888; line-height:30px; text-align:center;}
.user_reg .tempt_box a.reg_btn{ background:#a8c1e3; text-align:center; display:inline-block; padding:0 30px; height:48px; line-height:48px; color:#FFF; font-size:16px; border-radius:3px; margin:15px auto 0;}
.user_reg .photoaman.photo_reg{ margin:65px 0 0 90px;}
.user_reg .tempt_box.photo_reg{margin:90px 0 0 70px;}
.user_reg .tempt_box.photo_reg .reg_btn{ margin-top:5px;}
.user_reg .tempt_box h4{ font-size:20px; color:#666; font-weight:normal; text-align:center; margin:25px 25px 10px; border-top:1px solid #dadada; padding-top:20px;}
.user_reg .tempt_box p.n{ text-align:left; margin:17px 42px 0;}
.user_reg .tempt_box p.n em{ width:35px; height:35px; text-align:center; line-height:35px; border-radius:30px; border:1px solid #85e2c9; display:inline-block; vertical-align:middle; margin-right:13px; font-size:16px; color:#999;}
.user_reg .tempt_box p.n em.two{border:1px solid #d7b9ed;}
.user_reg .tempt_box p.n em.there{border:1px solid #fabf89;}


/*新版登录注册 end*/
.login-box{margin:35px 0 0 180px;}
.login-box dl dt{ width:140px;}
.login-box dl dd{ margin-left:140px;}
.login-box .login-btn{display: block;width: 180px;height: 40px;text-align: center;line-height: 40px;background: #E95431;color: #FFF;margin: 25px 0 0 140px;font-size: 14px; cursor:pointer;border-radius: 4px;}
.new-pass{ margin-left:270px;}
.appr .title.no-border{ border-bottom:none;}

/*摄影师详情页*/
.camer-L{ width:635px; float:left; margin-top:20px;}
.camer-L .camer-nr{ width:593px; border:1px solid #eee; padding:20px 20px 15px 20px;}
.camer-L .camer-nr dl{}
.camer-L .camer-nr dl dt{ width:150px; height:150px; float:left; overflow:hidden;}
.camer-L .camer-nr dl dt img{ width:150px; display:block;}
.camer-L .camer-nr dl dd{ margin-left:165px;}
.camer-L .camer-nr h2{ font-size:18px; color:#333; font-weight:normal; height:25px; line-height:25px; margin-bottom:12px;}
.camer-L .camer-nr h2 i{ margin-left:10px; vertical-align:middle;}
.camer-L .camer-nr h2 .koub{ font-size:12px; color:#999; float:right;}
.camer-L .camer-nr .sign{ font-size:14px;color:#333; margin-top:4px;width:593px;}
.camer-L .camer-nr .brief{ font-size:14px; color:#999; line-height:22px; margin-top:10px;}
.camer-tab{ overflow:hidden;border:1px solid #eee; margin-top:35px;}
.camer-tab .camer-menu{ width:635px; height:40px;}
.camer-tab .camer-menu li{ width:211px; background:#f9f9f9; float:left; text-align:center; font-size:14px; border-right:1px solid #eee; height:40px; border-bottom:1px solid #eee; color:#333; line-height:40px; cursor:pointer;}
.camer-tab .camer-menu li span{ color:#999;}
.camer-tab .camer-menu li.last{ border-right:none;}
.camer-tab .camer-menu li.selected{ background:#FFF; border-bottom:1px solid #fff;}
.camer-tab .camer-box{ padding-bottom:20px;}
.camer-tab .camer-box img{ width:595px; display:block; margin:20px 20px 0 20px;}
.camer-tab .commen{ margin-top:20px;}
.camer-tab  h4{ height:38px; border-bottom:1px solid #eee; background:#f8f8f8; border-top:1px solid #eee; line-height:40px; color:#333; font-size:14px; width:100%; padding-left:20px; font-weight:normal;}
.camer-tab .commen .data{ margin:20px 20px 0 20px; padding-bottom:13px; border-bottom:1px solid #eee;}
.camer-tab .commen .data.last{ padding-bottom:0; border-bottom:none;}
.camer-tab .commen .data dl{ overflow:hidden; margin-bottom:8px;}
.camer-tab .commen .data dl dt{ width:50px; height:50px; overflow:hidden; float:left;}
.camer-tab .commen .data dl dt img{width:50px; display:block; margin:0;}
.camer-tab .commen .data dl dd{ margin-left:60px;}
.camer-tab .commen .data dl dd h5{ font-size:14px; color:#333; font-weight:normal;}
.camer-tab .commen .data dl dd h5 span.rq{ float:right; font-size:12px;}
.camer-tab .commen .data p{ line-height:22px; font-size:14px; color:#666;}
.camer-R{ width:268px; height:280px; padding:20px; background:#FFF; border:1px solid #eee;}
.camer-R h2{ font-size:18px; color:#333; font-weight:normal; margin-bottom:5px;}
.camer-R .rmb{color:#E95331; font-size:30px; font-weight:bold; margin-bottom:5px;}
.camer-R .dropdown h4{ height:33px; line-height:33px;background: #fff url(../images/select.png) 240px center no-repeat; font-size:14px; border:1px solid #eee;}
.camer-R input.t{ height:19px; line-height:19px; padding:8px 0; width:268px; border:1px solid #eee; font-size:14px; color:#999; text-indent:10px; margin-bottom:15px;}
.camer-R input.t:focus{ border:1px solid #E95431;}
.camer-R .camer-btn{ width:270px; height:35px; background:#E95431; font-size:14px; text-align:center; line-height:35px; color:#FFF; border:0; cursor:pointer; margin-top:15px;border-radius: 4px;}

/*预约页面*/
.appion-title{ height:38px; line-height:38px; border-bottom:1px solid #ddd; margin-top:10px;}
.appion-title h3{ color:#E95431; font-size:18px; border-bottom:3px solid #E95431; height:35px;display:inline-block;}
.appion-table{ margin-top:15px; border:1px solid #eee; background:#FFF;}
.appion-table td{ border:1px solid #eee; height:41px; font-size:14px; color:#E95231; background:#FFF;}
.appion-table td span{ font-size:14px; color:#333; margin-left:10px;}
.appion-table td a{font-size:14px; color:#E95231; float:right; margin-right:10px; text-decoration:underline;}
.appion-table td input.tk{ width:100%; height:18px; padding:10px 0; line-height:18px; border:none; color:#333; background:#FFF;}
.appion-pay{ font-size:14px; color:#333; /*margin:20px 0 0 10px; border-top:1px solid #ddd; padding-top:30px*/;}
.appion-pay .yhq{ float:left;}
.appion-pay .dropdown h4{ height:28px; line-height:28px;background: #f8f8f8 url(../images/select.png) 260px center no-repeat;}
.appion-pay .money{ float:right; font-size:14px; color:#333;}
.appion-pay .money .zj{ color:#999; border-bottom:1px solid #ddd; padding-bottom:3px;}
.appion-pay .money .zj span{ color:#E95431; font-size:28px; font-weight:bold;}
.appion-pay .money .zj span em{ font-size:18px; font-weight:normal;}
.Paying{ margin:30px 0 165px 0; overflow:hidden;}
.paying-btn{ width:200px; height:40px; background:#E95231; display:inline-block; text-align:center; line-height:40px; color:#FFF; font-size:14px; float:right; margin-bottom:5px;border-radius: 4px;}
/* 补充页面*/
.replen{}
.replen h4{ font-size:18px; color:#E95431; margin:20px 0; padding-bottom:5px; font-weight:normal; border-bottom:1px solid #ddd;}
.replen h4 span{ border-bottom:2px solid #E95431; padding-bottom:5px;}
.replen .inner{ background:#FFF; font-size:14px; color:#333;}
.replen p{ line-height:24px; margin-bottom:15px;}
.replen p a{color:#E95431;}
.replen p a:hover{ text-decoration:underline;}
